.nav__logo {
  display: flex;
}

.nav__logo a:hover {
  color: blue;

  font-size: 2rem;
}

.nav__logo a:active {
  background-color: blueviolet;
  color: red;
}

li > a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
