/*IMPORT FOBOTO DACING SCRIPT FONT*/

:root {
  --primary-color: #001bbf;
  --text-dark: #1d293d;
  --text-light: #62748e;
  --extra-light: #affafa;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Dancing Script", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.nav__logo {
  display: flex;
  position: relative;
}

.nav__logo a:hover {
  color: blue;

  font-size: 2rem;
}

.nav__logo a:active {
  background-color: blueviolet;
  color: red;
}

li > a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
